doctype html

html(lang="en")
  head.
    {% include head.html %}
  body
    // Landing Page //
    header.text-center
      .bg-img
      
      #main-title.container
        h1 John Domingo
        
      #sub-title.container
        h6.sub-title
          input(type='radio'      
            name='toggler'
            id='design').toggler
          label(for='design').lbl-toggler Designer
          p.tag-list
            span Sketch 3
            span Illustrator
            span Photoshop
            span InDesign
        h6.sub-title
          input(type='radio'
            name='toggler'
            id='develop').toggler
          label(for='develop').lbl-toggler Developer
          p.tag-list
            span HTML5
            span CSS3
            span JavaScript
            span jQuery
            span Git
        h6.sub-title
          input(type='radio'
            name='toggler'
            id='datavis').toggler
          label(for='datavis').lbl-toggler Data Visualist
          p.tag-list
            span D3.js
            span MATLAB
            span Excel VBA
                  
      #about-text.container
        p.
          Just trying to find a foothold in this new territory called web development, so naturally I started a blog about my journey. I'm a data enthusiast with a penchant for interactive visualizations. When I've got free time I like to vedge out in the kitchen or lift heavy objects over my head.
              
      .fg-img-1
      
      .profile-img.container
    
    section(id='skills')
      h1 Skills
      .skills-container
      script(src='/js/d3/d3.js')
      script(src='/js/d3/skills.js')
      
    section(id='projects')
      h1.text-center Projects
      .container
        .row
          .col-xs-6.col-lg-4
            a(href='codepen.io/johndomingo/pen/ogrPOq')
              .project1
                .sleeve
                  .proj-tag d3.js
                  .proj-description
                    h4.text-uppercase Rainy Days
                    p An interactive visualization using dynamic meteorological data.An interactive visualization using dynamic meteorological data.An interactive visualization using dynamic meteorological data.An interactive visualization using dynamic meteorological data.An interactive visualization using dynamic meteorological data.An interactive visualization using dynamic meteorological data.
          .col-xs-6.col-lg-4
            a(href='http://johndomingo.com/webdevchallenge/focus')
              .project2
                .sleeve
                  .proj-tag SVG Images
                  .proj-description
                    h4.text-uppercase Focus App
                    p A simple landing page design for a mobile app or product.
          .col-xs-6.col-lg-4
            a(href='http://johndomingo.com/webdevchallenge/dsgn')
              .project3
                .sleeve
                  .proj-tag Bootstrap
                  .proj-description
                    h4.text-uppercase DSGN Studio
                    p Tile-based grid layout for portfolio projects and products.
          .col-xs-6.col-lg-4
            a(href='http://github.com/jwdomingo')
              .project4
                .sleeve
                  .proj-tag Git
                  .proj-description
                    h4.text-uppercase GitHub
                    p My public repositories and open source contributions.
          .col-xs-6.col-lg-4
            a(href='http://teamtreehouse.com/johndomingo')
              .project5
                .sleeve
                  .proj-tag Treehouse
                  .proj-description
                    h4.text-uppercase Treehouse
                    p Progress report of my web development journey.
          .col-xs-6.col-lg-4
            a(href='http://codecademy.com/johndomingo')
              .project6
                .sleeve
                  .proj-tag Codecademy
                  .proj-description
                    h4.text-uppercase Codecademy
                    p Additional resources to supplement my learning track.
        
    
    section(id='webdevchallenge')
      h1.text-center 30 Day Web Development Challenge      
      .container
        .row
          //.challenge1.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1.text-center
          .challenge1.col-xs-12.text-center
            .slider
              input#slides_1(type='radio', name='slides', checked='')
              input#slides_2(type='radio', name='slides')
              input#slides_3(type='radio', name='slides')
              ul
              .arrows
                label(for='slides_1')
                label(for='slides_2')
                label(for='slides_3')
                label.goto-first(for='slides_1')
                label.goto-last(for='slides_3')
              .navigation
                div
                  label(for='slides_1')
                  label(for='slides_2')
                  label(for='slides_3')

          .challenge2.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
          .challenge3.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
        .row
          .challenge4.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
          .challenge5.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
          .challenge6.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
        ul
      
      script(src="/js/jquery-2.1.4.min.js")
      script(src="/js/webdevchallenge.js")
      
      //.challenges.text-center.
        //{% for post in site.posts %}
          //<a href="{{ post.url }}">{{ post.title }}</a>
        //{% endfor %}
