doctype html

html
  head.
    {% include head.html %}
  
  body
    // Landing Page
    header
      .arrow
        a(href='#about') &#9661;
      .container-bg
      .fg-img-1
      .container-header
        .container-title
          input(type='radio', name='toggler', id='title')
          h1.site-title
            label(for='title') John Domingo
            
        .container-sub-title
          h6.sub-title
            input(type='radio'      
              name='toggler'
              id='design').toggler
            label(for='design').lbl-toggler Designer
            p.tag-list
              span Sketch 3
              span Illustrator
              span Photoshop
              span InDesign
          h6.sub-title
            input(type='radio'
              name='toggler'
              id='develop').toggler
            label(for='develop').lbl-toggler Developer
            p.tag-list
              span HTML5
              span CSS3
              span JavaScript
              span jQuery
              span Git
          h6.sub-title
            input(type='radio'
              name='toggler'
              id='datavis').toggler
            label(for='datavis').lbl-toggler Data Visualist
            p.tag-list
              span D3.js
              span MATLAB
              span Excel VBA
      .periscope
      .container-about
        p.
          Just trying to find a foothold in this new territory called web development, so naturally I started a blog about my journey. I'm a data enthusiast with a penchant for interactive visualizations. When I've got free time I like to vedge out in the kitchen or lift heavy objects over my head.
    
    // About
    section(id='about')
      //.periscope
    
        
    // Skills
    section(id='skills')
      .container-section
        h2 Skills
        .circle75
        .cirlce50
        .circle20
        .circle90
      
    hr
    
    // Projects
    section(id='projects')
      .container-section
        h2 Projects
        ul
          li
            h5 Rainy Days
            h6 d3.js
            p An interactive visualization using dynamic meteorological data
          li
            h5 Jekyll.rb
            h6 GitHub
            p Pull requests and open source contributions to the Jekyll project
          li
            h5 Asbestos TEM Labs
            h6 jQuery
            p A client portal for automated chain of custody submissions
          li
            h5 Scheme Theme
            h6 WordPress
            p A responsive WordPress theme that employs customizable D3 SVGs
          li
            h5 Sketch the Ipsums
            h6 Cocoa
            p A Sketch 3 plugin that aggregates various Lorem Ipsum generators
          li
            h5 #webdevchallenge
            h6 Bootstrap
            p A 30 Day Web Development Challenge to build four single-page designs.
    
    hr
    
    // Timeline
    section(id='timeline')
      .container-section
        h2 Timeline
    
    hr
    
    // Blog
    section(id='blog')
      .container-section
        h2 The Scheme of Things
        sidebar
      
    hr
    
    // Contact
    section(id='contact')
      .container-section
        h2 Contact
